<div class="container-fluid" id="portofolio">
    <h2 class="portofolio-title pt-5 text-center">My Work</h2>
    <div class="container portofolio-list mt-5">
        <div class="row g-4 justify-content-center pb-5">
            <!-- Currency Converter -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="text-center work position-relative rounded-4 overflow-hidden">
                    <img src="../assets/images/work1.jpeg" alt="Currency Converter" class="w-100 h-100 object-fit-cover">
                    <div class="layer d-flex flex-column justify-content-center align-items-center text-center">
                        <h3>Currency Converter</h3>
                        <p>A real-time currency conversion tool using an API. Built with HTML, CSS, and JavaScript, it supports multiple currencies and features a responsive design.</p>
                        <a href="#" class="text-white"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <!-- Fashion Portfolio Website -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="text-center work position-relative rounded-4 overflow-hidden">
                    <img src="../assets/images/work2.jpeg" alt="Fashion Portfolio Website" class="w-100 h-100 object-fit-cover">
                    <div class="layer d-flex flex-column justify-content-center align-items-center text-center">
                        <h3>Fashion Portfolio Website</h3>
                        <p>Step into the world of style! This vibrant, responsive portfolio showcases bold designs, stunning collections, and creative flair. Crafted with HTML, CSS, and JavaScript, it’s a visual treat that turns heads and sparks inspiration.</p>
                        <a href="#" class="text-white"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
            <!-- BOB's Bar -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="text-center work position-relative rounded-4 overflow-hidden">
                    <img src="../assets/images/work3.png" alt="BOB's Bar" class="w-100 h-100 object-fit-cover">
                    <div class="layer d-flex flex-column justify-content-center align-items-center text-center">
                        <h3>BOB's Bar</h3>
                        <p>Craft cocktails, live music, and unforgettable vibes—coming soon! <span class="fw-bold text-danger">The website is under construction,</span> but the party isn’t. Stay tuned for updates and get ready to experience Cairo’s hottest nightlife destination!</p>
                        <a href="#" class="text-white"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
