<div class="container-fluid bg-dark" id="services">
    <div class="container pt-5 pb-3">
        <h2 class="service-title text-center ">My Services</h2>
        <div class="container service-list mt-5">
            <div class="row g-4 justify-content-center pb-5">         
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                    <div class="card text-center h-100 p-4 w-100">
                        <i class="fas fa-paint-brush fa-3x text-danger"></i>
                        <h2 class="">UI/UX Design</h2>
                        <p class="">Focused on user-centered design principles to create intuitive and visually appealing web interfaces.</p>
                        <!-- <a href="#" class="btn btn-outline-light mt-auto">Learn More</a> -->
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                    <div class="card text-center h-100 p-4 w-100">
                        <i class="fas fa-code fa-3x text-danger"></i>
                        <h2 class="">Front-End Development</h2>
                        <p class="">Experienced in HTML, CSS, JavaScript, and Angular, I create responsive, dynamic web applications with a focus on mobile-first and cross-browser compatibility.</p>
                        <!-- <a href="#" class="btn btn-outline-light mt-auto">Learn More</a> -->
                    </div>
                </div> 
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                    <div class="card text-center h-100 p-4 w-100">
                        <i class="fas fa-camera fa-3x text-danger"></i>
                        <h2 class="">Phone Photography</h2>
                        <p class="">Capturing aesthetics, editing on the go, and telling visual stories through mobile photography.</p>
                        <!-- <a href="#" class="btn btn-outline-light mt-auto">Learn More</a> -->
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
